html{
    font-family:"Raleway",sans-serif;
}
body{
    margin:0;
    background-color:whitesmoke;
}
*{
    box-sizing: border-box;
}

.open{
    margin-top: 10px;
    position:sticky;
    padding:10px;
    margin-bottom:10px;
    background-color:rgb(30,90,90);
    top:0;
}

.nav{
    transition:0.3s;
    background-color:rgb(30,90,90);
    color:white;
    z-index:1;
    text-align:center;
    padding-top:60px;
    height:100%;
    position:fixed;
    width:0;
    top:0;
    left:0;
    overflow-x:hidden;
}
.nav a{
    transition:0.3s;
    display:block;
    color:white;
    text-decoration:none;
    font-size:1.2em;
    padding:10px;    
}
.nav .comp{
    padding:20px;
    color:black;
    font-weight:bolder;
    background-color:white;
    width:200px;
    margin:auto;
    bottom:20%;
    left:50%;
    transform:translate(-50%,-50%);
    position:absolute;
    box-shadow: 0px 8px 16px 0 rgba(0,0,0,0.19);
}
.nav a:hover{color:wheat;}

.nav .closebtn{
    font-size:2em;
    position:absolute;
    top:10px; 
    right:30px;
}
.open span{
    font-size: 1.5em;
     color:white;
}
.open span:not(.dash){
    padding-left:40px;
}
.open .dash:hover{
    cursor:pointer;
}

.holder{

    padding:10px;
}
.header{
    text-align:center;
    padding:30px;
}
.item{
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: white;
    margin:10px;
}
.item .description{
    padding:10px;
}
.item .readmore{
    border:1px solid rgb(180,180,180);
    width:150px;
    font-weight: bold;
    padding:5px;
    text-align:center;
}
.item .readmore:hover{
    cursor: pointer;
    background-color:rgb(180,180,180);
}
.item .readmore:after{
    content:'\00bb';
    padding:5px;
}
.item-image1{
    background-image:url("../images/32.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    height:300px;
}
.item-image2{
    background-image:url("../images/60.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    height:300px;
}
.item-image3{
    background-image:url("../images/angie.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    height:400px;
}
#tme{
    font-family:sans-serif;
    float:right;
    
}
#tme:after{
    content:"";
    clear:both;
    display:table;
}
.popo{
    margin:10px;
    background-color:white;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.popo .title{
    font-size: 1.5em;
    padding:20px;
    background-color:rgb(220,220,220);
}
.lst{
    list-style-type: none;
    margin:0;
    padding:0;
}
.lst li{
    border-bottom:1px solid rgb(220,220,220);
    padding:10px;
}
.lst li:hover{
    cursor: pointer;
    background-color:gray;
}
.lst li img{
    margin-bottom:-20px;
}
#u{
    margin-left:5px;
    font-size:1.5em;
}
.lst li span:not(#u){
    margin-left:60px;
    font-size:0.9em;
}
.tags{

    margin:20px 10px;
    background-color:white;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.tags .caption{
    padding:20px;
    background-color:rgb(200,200,200);
    font-size:1.5em;
}
.tags .caps{
    padding:20px;
    display:flex;
    flex-wrap:wrap;
    align-content: center;
    align-items:center;
}
.tags span{
    background-color:rgb(240,240,240);
    
    margin:8px;
    padding:5px;
}
.tags span:hover{
    cursor: pointer;
    background-color: rgb(200,200,200);
}
.tags .ac{
    color:white;
    background-color: black;
}
.footer{
    background-color: rgb(90,90,90);
    padding:20px;
}
.footer .previous{
    background-color:black;
    color:white;
    width:100px;
    padding:15px;
    opacity:0.6;
    
}

.footer .next{
    background-color:black;
    color:white;
    width:100px;
    padding:15px;
}
.next,.previous{
    margin:10px;
    float:left;
    text-align: center;
}
.next:hover,.previous:hover{
    cursor: pointer;
}
.next:hover{
    background-color:white;
    color:black;
}
.next:hover a{
    color:black;
}
 a{
    text-decoration:none;
    color:white;
 }

.footer .next::after{
    content:'\00bb';
    padding:2px;
}
.footer .direction::after{
    content:"";
    clear:both;
    display:table;
}
@media screen and (max-width:600px){
.item-image1,.item-image2{
    height:200px;
}
.item-image3{
    height: 300px;
}

}